*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: rem(16px);

  @include tiny {
    font-size: 14px;
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: $opensans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: $text;

  &.blocked {
    overflow: hidden;
  }

  @include tiny {
    font-size: 16px;
  }
}

a {
  color: #1675D1;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main,
section {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.section {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: rem(1140px);
  width: 100%;
  min-width: rem(320px);
  margin: 0 auto;

  @include xl {
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
