@mixin xxl {
  @media screen and (max-width: $desktop) {
      @content;
  }
}

@mixin xl {
  @media screen and (max-width: $xl) {
      @content;
  }
}

@mixin large {
@media screen and (max-width: $large) {
  @content;
  }
}

@mixin medium {
@media screen and (max-width: $medium) {
    @content;
  }
}

@mixin small {
@media screen and (max-width: $small) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: $xs) {
      @content;
  }
}

@mixin xxs {
@media screen and (max-width: $xxs) {
    @content;
  }
}

@mixin xxxs {
@media screen and (max-width: $xxxs) {
    @content;
  }
}

@mixin tiny {
@media screen and (max-width: $tiny) {
    @content;
  }
}

// border gradient 

@mixin border-gradient($from, $to, $weight: 0) {
$mix-main: mix($from, $to);
$mix-sub-from: mix($mix-main, $from);
$mix-sub-to: mix($mix-main, $to);

box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
            0 -1px 0 $weight rgba($mix-sub-from, .25),
            1px 0 0 $weight rgba($mix-sub-to, .25),
            -1px 0 0 $weight  rgba($mix-sub-from, .25),
            1px -1px 0 $weight rgba($mix-main, .5),
            -1px 1px 0 $weight rgba($mix-main, .5),
            1px 1px 0 $weight rgba($to, .75),
            -1px -1px 0 $weight rgba($from, .75);
}


