//resolutions

$desktop: 1280px;
$laptop: 1024px;
$large: 992px;
$largetablet: 900px;
$htablet: 800px;
$tablet: 768px;
$smalltablet: 600px;
$small: 576px;
$smartphone: 480px;
$sp420: 420px;
$sp360: 360px;
$smallphone: 320px;

//colors

$accent: #FF9000;
$main: #FFFFFF;
$text: #22252D;
$accentHover: #EC7F00;
$border: #E7EBF4;
$link: #0088CC;
$linkhover: #005580;

//fonts

$opensans: 'Open Sans', Arial, Helvetica, sans-serif;

//font weight

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$black: 900;
