//breakpoints

$xxl: 1400px;
$xl: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
$xs: 480px;
$xxs: 420px;
$xxxs: 360px;
$tiny: 320px;

//colors

$accent: #FF9000;
$main: #FFFFFF;
$text: #22252D;
$accentHover: #EC7F00;
$border: #E7EBF4;
$link: #0088CC;
$linkhover: #005580;

//fonts

$opensans: 'Open Sans', Arial, Helvetica, sans-serif;

//font weight

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$black: 900;
